DATABASE_URL=postgres://user:pass@localhost:5432/voltchain
HOST=127.0.0.1
PORT=8080
CONTRACT_ID=CBQMTUYO22PJOU5PTJLUCAAYUU22FHHMIJ3BW6FQO2FJMI4NTAUVOEOV
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK=testnet
ADMIN_SECRET_KEY=
